.yearrow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.year{
    margin: 1vh;
    font-size: 25px;
}

.year:hover{
    color: var(--green);
    cursor: pointer;
}

.clicked{
    color:var(--green);
}

.standingsTable{
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.standingsTable table {
    width: 50vw;
    text-align: center;
}