:root {
  --white: #FFFFFF;
  --black: #000000;
  --Primary: #F2E3F2;
  --Secondary:#F0F2FC;
  --dark: #B394B3 ;
  --light: #EFF7FF;
  --text-light: #968c84;
  --text-dark: #615954;
}


body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(315deg, hsla(225, 69%, 59%, 1) 0%, hsla(158, 75%, 45%, 1) 100%);

    background: -moz-linear-gradient(315deg, hsla(225, 69%, 59%, 1) 0%, hsla(158, 75%, 45%, 1) 100%);

    background: -webkit-linear-gradient(315deg, hsla(225, 69%, 59%, 1) 0%, hsla(158, 75%, 45%, 1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
